# Solana RPC
NEXT_PUBLIC_SOLANA_RPC_URL=


# Helius API
HELIUS_API_KEY=

# Birdeye API
BIRDEYE_API_KEY=

# DexScreener API
DEXSCREENER_API_URL=https://api.dexscreener.com

# AI Provider (future)
AI_API_KEY=
